# Dependencies
**/node_modules/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.packages.generated
.pub-preload-cache/
.pub/
build/
flutter_*.png
*.iml

# Android
.gradle/
**/android/local.properties
**/android/key.properties
**/android/captures/
*.jks

# iOS
**/xcuserdata/
**/Pods/
**/DerivedData/
**/ios/.generated/
**/ios/Flutter/ephemeral

# Supabase CLI
**/.temp/
.env
.env.*

# OS / IDE
.DS_Store
.idea/
.history
.widget_preview/

# Coverage / symbols
coverage/
app.*.symbols
app.*.map.json
